#container{
    background-color: darkslategrey;
    color: lightsalmon;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 400px;
    width: 640px;  
}
#content{
    padding: 35px;
}